.table {
	margin-top: 2%;
	vertical-align: middle;
	text-align: center;
	width: 500%;
	/* table-layout: fixed; */
}

.table td,
.table th {
	/* overflow: hidden; */
	text-overflow: ellipsis;
	white-space: nowrap;
}

.table thead th {
	color: #5a5a5a;
	white-space: nowrap;
}

.container {
	max-width: 100%;
	/* overflow-x: hidden; */
}

.alert {
	margin-bottom: 0 !important;
}
.td1 {
	white-space: pre-wrap;
	/* This allows wrapping of text */
	word-wrap: break-word;
	/* Break words if needed */
}